ul {
  list-style: none;
  margin-left: -2.5rem;
}

.right .row {
  padding: 1.2rem;

  margin: 1.2rem;
  background-color: white;
}
.listed:focus {
  background-color: grey;
}
.listItem th {
  margin: 5rem;
}
.listItem {
  background-color: white;
  padding: 1.5rem;

  width: 100%;
  height: 100%;
  width: 100%;
}
a:hover {
  background-color: grey;
}
.btn-group {
  background-color: rgba(0, 123, 237, 0.74) !important;
  margin-top: 2%;

  text-align: center;
  display: flex;
}

li:active {
  background-color: black;
}
.btn:hover {
  background-color: rgba(0, 123, 237, 0.93);
  border-style: none;
}

.navbar {
  background-color: rgba(0, 123, 237, 0.74);
}

.listItem:hover {
  background-color: #c1c1c1;
}

.partNav {
}
.partNav span {
  margin-right: 2rem;
}

.split {
  height: 89%;
  position: fixed;
  z-index: 1;
  top: 1;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  width: 30%;
  left: 0;
  background-color: white;
  margin-bottom: 3rem;
  padding-right: 0.3rem;
  border-right: 1px solid;
  border-color: #eaedf2;
  border-opacity: 0.01;
}

.right {
  width: 70%;
  right: 0;
  background-color: white;
}
