ul {
  list-style: none;
  margin-left: -2.5rem;
}
.box {
  margin: 1rem;
}
.row {
  padding: 2rem;
  background-color: white;
  margin: 0.4rem 2rem;
}

.start {
  color: #0c0c0c60;
}
.sidebar {
  background-color: #f8f8f8;
  width: 300px;
  height: auto;
}
.auto {
  display: flex;
  margin: auto;
}
body {
  background-color: #f8f8f8 !important;
}
.listed:focus {
  background-color: grey;
}
.listItem th {
  margin: 5rem;
}
.flex {
  margin: auto;
  display: flex;
  width: 100%;
}
.content {
  background-color: #f8f8f8;
  width: 100%;
  height: 100vh;
}
.container {
  margin: 2rem;
}
.listItem {
  max-width: none;
  width: 270px;
  background-color: white;
  padding: 0.2rem 1.3rem;
}
a:hover {
  background-color: grey;
}

.btn-group {
  background-color: rgba(0, 123, 237, 0.74) !important;
  margin-top: 2%;

  text-align: center;
  display: flex;
}

li:active {
  background-color: black;
}
.btn:hover {
  background-color: rgba(0, 123, 237, 0.93);
  border-style: none;
}

.navbar {
  background-color: rgba(0, 123, 237, 0.74);
}

.listItem:hover {
  background-color: #c1c1c1;
}

.move {
  transition: 0.5s;
}

.partNav span {
  margin-right: 2rem;
}

link {
  max-width: none;
}
