ul {
  list-style: none;
  margin-left: -2.5rem;
}
.box {
  margin: 1rem;
}

.right .row {
  padding: 1.2rem;

  margin: 0.5rem;
  background-color: white;
}
.listed:focus {
  background-color: grey;
}
.listItem th {
  margin: 5rem;
}
.listItem {
  max-width: none;
  width: 270px;
  background-color: white;
  padding: 0.2rem 1.3rem;
}
a:hover {
  background-color: grey;
}

#sidebar {
  max-width: none;
  width: 300px;
}
.btn-group {
  background-color: rgba(0, 123, 237, 0.74) !important;
  margin-top: 2%;

  text-align: center;
  display: flex;
}

li:active {
  background-color: black;
}
.btn:hover {
  background-color: rgba(0, 123, 237, 0.93);
  border-style: none;
}

.navbar {
  background-color: rgba(0, 123, 237, 0.74);
}

.listItem:hover {
  background-color: #c1c1c1;
}

.move {
  transition: 0.5s;
}

.partNav span {
  margin-right: 2rem;
}

link {
  max-width: none;
}
.split {
  height: 89%;
  position: fixed;
  z-index: 1;
  top: 1;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  width: 40%;
  left: 0;
  background-color: white;
  margin-bottom: 3rem;
  padding-right: 0.3rem;
  border-right: 1px solid;
  border-color: #eaedf2;
  border-opacity: 0.01;
}

.right {
  width: 60%;
  right: 0;
  background-color: white;
}
